In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('S07_datasets_13720_18513_insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
# checking whether data is having null value or not
# pd.isnull(data)
pd.isnull(data).sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# Separating feature and target value

In [6]:
X = data.iloc[:,:-1]
# type(X)

In [7]:
Y = data.iloc[:,-1]

# One hot encoding

In [8]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [9]:
ColumnTransformer = ColumnTransformer([('encoder', OneHotEncoder(),[1,4,5])], remainder = 'passthrough')

In [10]:
X = ColumnTransformer.fit_transform(X)

# Train-Test Split

In [11]:
import numpy as np
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state = 1)

# Feature Scaling

In [13]:
from sklearn import preprocessing

In [14]:
sc = preprocessing.StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

# Building Polynomia Linear Regression Model

In [15]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [16]:
model = LinearRegression()

In [17]:
poly = PolynomialFeatures()

In [18]:
X_train_poly = poly.fit_transform(X_train)

In [19]:
X_test_poly = poly.fit_transform(X_test)

In [20]:
X_train_poly.shape

(1070, 78)

In [21]:
model.fit(X_train_poly,y_train)

LinearRegression()

# Making the prediction

In [24]:
y_pred = model.predict(X_test_poly)

In [25]:
print(y_pred)

[ 3576. 12464. 10672. 11808.  2928. 35664. 10984. 12560.  4368. 24192.
 14288. 11888.  8048.  8608.  2144. 10560.  4304.  7840. 14640. 15320.
 11024. 40688.  8656. 10080.  5200.  8056. 10192.  9608.  6832.  4752.
 13488.  6224. 25032. 29232. 27528. 10064. 36384. 20208. 13104. 33040.
  5728. 13168. 12872. 14544.  6256. 13600.  2912. 29584.  8336. 16720.
 15376. 13744.  3088. 10576. 23840.  3560. 35384. 14432.  7088.   832.
  4248. 14448. 25056.  4448. 14160. 10432. 12368. 14032.  5008. 14264.
 41376. 42584.  3248. 14480. 14352. 39216.  4512.  4416. 12392. 12304.
  4720. 14512. 11776.  3168. 35248. 47184.  8432. 50608. 12704. 10256.
 26160. 25848. 16592. 10552.  2368. 11888. 11368. 13904. 13296.  8560.
 12688. 17616. 20240. 33784. 28432. 25104.  3024.  9120.  3056. 12352.
  5696.  5632.  2768. 18032.  4608.  2424.  4736. 14064.  8464.  4496.
 10120. 12288.  7552.  8192. 38752. 10720. 15008. 20976. 45504.  8904.
 36768.  2496.  9632. 36480.  8704.  2672.  2816.  2192.  8720.  9624.
 15088.  7040. 22096. 16080. 15680. 11248.  3152.  9328.  2672.  8464.
  8592.  6144. 13584. 13664.  9144.  7344. 11520. 11200. 11040.  2960.
  5264. 49584. 14760.  4112.  9248.  2336. 36416. 12464. 12504.  7112.
  6672.  5424. 19136. 25680.  3904.  8600.  3376. 16912.  4208.  5712.
 13696. 13384.  9776.  9744.  5216. 25776.  3456.  8416.  6880. 10552.
 16384. 50480.  3824.  4984.  8008.  9920.  8816.  4432. 13440. 10016.
  8016.  8640. 13600.  7856.  8416.  2992.  8336.  8736.  3944. 12984.
  6152. 24288.  6880.  5328.  5576. 42576. 11728. 28704.  2192. 32656.
  5312. 20912. 14480.  5936.  3112.  2832.  5760.  3768. 25360. 15552.
  6928. 16536. 51504.  8784. 14096. 12272. 17680.  3344.  9968.  5712.
  7936.  2368. 16408.  3232. 12640. 26208.  9048. 10200.  4584. 15792.
 12848.  6048. 14816. 12576.  4584.  5472. 32752. 29368.  2048. 48096.
 10064.  8088.  9776. 38400. 44720. 44944.  4528.  6720.]

# Comparison

In [26]:
comparison = pd.DataFrame()

In [27]:
comparison['Actual'] = y_test

In [28]:
comparison['Predicted'] = y_pred

In [29]:
comparison

           Actual  Predicted
559    1646.42970     3576.0
1087  11353.22760    12464.0
1020   8798.59300    10672.0
460   10381.47870    11808.0
802    2103.08000     2928.0
...           ...        ...
682   40103.89000    38400.0
629   42983.45850    44720.0
893   44202.65360    44944.0
807    2136.88225     4528.0
1165   5227.98875     6720.0

[268 rows x 2 columns]

# Evaluation

In [30]:
from sklearn.metrics import r2_score

In [31]:
r2_score(y_test, y_pred)

0.862359461592231