# Dataset :- 
https://www.kaggle.com/datasets/gurdit559/canada-per-capita-income-single-variable-data-set

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('canada_per_capita_income.csv')

In [3]:
data.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [4]:
# checking the relationship between data is linear or not
# sns.scatterplot(x = 'per capita income (US$)', y = 'year',data = data)
# plt.show()

In [5]:
# checking whether data is having null value or not
# pd.isnull(data)
pd.isnull(data).sum()

year                       0
per capita income (US$)    0
dtype: int64

# Separating feature and target value

In [6]:
X = data.iloc[:,:-1]
# type(X)

In [7]:
Y = data.iloc[:,-1]

# Train-Test Split

In [8]:
import numpy as np
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state = 1)

# Building Model

In [21]:
from sklearn.ensemble import RandomForestRegressor

In [22]:
model = RandomForestRegressor(n_estimators =50, random_state =10)

In [23]:
model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=50, random_state=10)

# Making the prediction

In [24]:
y_pred = model.predict(X_test)

In [25]:
print(y_pred)

[16125.4778622  16806.5114884  37647.8189374  28378.446662
  3894.29024532  5162.5656299  17321.0088816  19964.1579966
 39159.668342   16591.8950116 ]

# Comparison

In [26]:
comparison = pd.DataFrame()

In [27]:
comparison['Actual'] = y_test

In [28]:
comparison['Predicted'] = y_pred

In [29]:
comparison

          Actual     Predicted
24  15755.820270  16125.477862
22  16412.083090  16806.511488
39  32755.176820  37647.818937
35  29198.055690  28378.446662
2    4251.175484   3894.290245
3    4804.463248   5162.565630
29  17581.024140  17321.008882
32  19232.175560  19964.157997
45  35175.188980  39159.668342
26  16699.826680  16591.895012

# Evaluation

In [30]:
from sklearn.metrics import r2_score

In [31]:
r2_score(y_test, y_pred)

0.9582727007726111